<h2>Welcome to Admin Home Page</h2>
<ul>
  <li>
    <div class='link'>
      <%= link_to 'Categories', admins_categories_path %>
    </div>
  </li>
  <li>
    <div class='link'>
      <%= link_to 'All Users', admins_users_path %>
    </div>
  </li>
  <li>
    <div class='link'>
      <%= link_to 'All Requests', admins_requirements_path({ filter: 'pending' }) %>
    </div>
  </li>
</ul> 