<% comment ||= @comment %>
<li class='highlight-grey-border round-corners'>
  <strong>&nbsp;<%= link_to @requirement.person.display_name, user_path(@requirement.person) %></strong> commented on <%= comment.created_at %>
  <pre class='highlight-grey-border'><%= comment.content %></pre>
</li>
