<% comment ||= @comment %>
<li class='highlight-grey-border round-corners'>
  <strong>&nbsp;<%= comment.user.name.capitalize %></strong> commented on <%= comment.created_at.strftime("%d %b %Y at %I:%M %p") %>
  <pre class='highlight-grey-border'><%= comment.content %></pre>
</li>
