<% comment ||= @comment %>
<li class='highlight-grey-border round-corners'>
  <strong>&nbsp;<%= comment.user.display_name %></strong> commented on <%= comment.created_at %>
  <pre class='highlight-grey-border'><%= comment.content %></pre>
</li>
