<% if current_user %>
  <%= form_for([@requirement, @requirement.comments.build], remote: true) do |f| %>

    <div class='field'>
      <%= f.text_area :content, class: 'text-area full-width', required: true %>
    </div>

    <div>
      <%= f.submit :Comment %>
    </div>

  <% end %>
<% else %>
  <span><strong>Please login to post comment</strong></span>
<% end %>