<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Post a Comment:</h4>
      </div>
      <div class="modal-body">
        <%= form_tag('/', method: :put) do %>

        <div class='field'>
          <%= text_area_tag 'requirement[comment]', 'enter comment text here', class: 'text-area full-width comment-box', required: true %>
          <br>
          <a id="comment_popup" tabindex="0" class="" role="button" data-toggle="popover" data-trigger="focus" title="Comment cannot be blank" data-content="Please add in some text!">*(Comment cannot be blank)</a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= submit_tag :Post, class: 'btn btn-primary', id: 'submit_button' %>

      <% end %>
      </div>
    </div>
  </div>
</div>