<% if owner(@requirement) %>
  <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#commentModal" data-comment="This requirement has been fulfilled. Thank you." data-action="<%= requirement_path(@requirement) %>/fulfill" data-button-name="Fulfilled" data-method="put">Fulfilled</button>
<% else %>
  <%= link_to 'Show Interest', requirement_donor_requirements_path(@requirement), method: :post, class: 'btn btn-primary btn-sm' %>
<% end %>