<span class="circle">
  <%= locals[:requirement].interested_donors.size %>
</span>
<% if @donations && @donations.include?(locals[:requirement]) %>
  <strong>Interested</strong>
  <%= link_to 'X', requirement_uninterest_path(locals[:requirement]), method: :delete, remote: true, class: 'btn btn-primary btn-xs', role: 'button' %>
<% else %>
  <% if current_user && current_user.id == locals[:requirement].requestor_id %>
    <strong> -- </strong>
  <% else %>
    <%= link_to 'Show Interest', requirement_donor_requirements_path(locals[:requirement]), method: :post, remote: true, class: 'btn btn-primary btn-xs faliure_link', role: 'button' %>
  <% end %>
<% end %>