<% no_of_donors = @requirement.donor_requirements.size %>
<% if no_of_donors.zero? %>
  <% if owner(@requirement) %>
    <span>No one has shown interest yet.</span>
  <% else %>
    <span>Be the first to Show Interest </span>
  <% end %>
<% else %>
  <span><%= pluralize(no_of_donors, 'person') + ' is'.pluralize(no_of_donors) %> interested to donate </span>
<% end %>