<ul id='user_pages' class='active-buttons'>
  <li>
    <%= link_to 'My Requests', requirements_path(filter: 'pending'), class: 'btn btn-primary ' + add_class_active(controller_name, 'requirements') %>
  </li>
  <li>
    <%= link_to 'My Donations', donations_path, class: 'btn btn-primary ' + add_class_active(controller_name, 'donations') %>
  </li>
  <li>
    <%= link_to 'My Profile', user_path(current_user), class: 'btn btn-primary ' + add_class_active(controller_name, 'users') + add_class_active(controller_name, 'registrations') %>
  </li>
</ul>