<ul id='user_pages' class='active-buttons'>
  <li>
    <%= link_to 'My Requests', requirements_path(filter: 'pending'), class: 'btn btn-primary ' + add_class_active_if_filter('page', 'requirements') %>
  </li>
  <li>
    <%= link_to 'My Donations', donations_path, class: 'btn btn-primary ' + add_class_active_if_filter('page', 'donations') %>
  </li>
  <li>
    <%= link_to 'My Profile', edit_user_registration_path, class: 'btn btn-primary ' + add_class_active_if_filter('page', 'users') %>
  </li>
</ul>