<h2>Welcome to Admin Home Page</h2>
<ul>
  <li>
    <div class='link'>
      <%= link_to 'Categories', admin_categories_path %>
    </div>
  </li>
  <li>
    <div class='link'>
      <%= link_to 'All Users', admin_users_path %>
    </div>
  </li>
</ul> 