<h2>Welcome to Home Page</h2>
<ul>
  <li>
    <div class='link'>
      <%= link_to 'Categories', categories_path %>
    </div>
  </li>
  <li>
    <div class='link'>
      <%= link_to 'My Requirements', requirements_path %>
    </div>
  </li>
</ul> 