<td><%= locals[:category].name %></td>
<td><%= link_to 'Show', admins_category_path(locals[:category]) %></td>
<td><%= link_to 'Edit', edit_admins_category_path(locals[:category]) %></td>
<%= render 'status', locals: { category: locals[:category] } %>