<% if locals[:category].enabled %>
  <%= content_tag :td, id: 'status' + locals[:category].id.to_s do %>
    <%= link_to 'disable', toggle_status_admins_category_path(locals[:category], category: { enabled: false }), method: :put, remote: true, class: 'btn btn-default btn-xs', role: 'button' %></td>
  <% end %>
<% else %>
  <%= content_tag :td, id: 'status' + locals[:category].id.to_s do %>
    <%= link_to 'enable', toggle_status_admins_category_path(locals[:category], category: { enabled: true }), method: :put, remote: true, class: 'btn btn-default btn-xs', role: 'button' %></td>
  <% end %>
<% end %>