<% if @is_sub_category %>
  <h1>Editing sub-category</h1>
<% else %>
  <h1>Editing category</h1>
<% end %>
<%= render 'form' %>

<% if @is_sub_category %>
  <%= link_to 'Back', admins_sub_categories_path %>
<% else %>
  <%= link_to 'Back', admins_categories_path %>
<% end %>
