li.rejected {
  color: red;
}

div.custom {
  display: inline-block;
}

ul.navbar-nav > li {
  padding: 10px;
}

table.parent > tbody > tr {
  background-color: #D8D8D8;
}

#status_filter {
  list-style-type: none;
}
#status_filter > li {
  padding: 10px;
  display: inline-block;
}
.circle { 
   margin-right: 5px;
   color: black;
   padding: 3px;
   font-size: 15px;
   padding-left: 7px; 
   background: #D8D8D8; 
   border-radius: 70px;
}

#current_donor {
  background-color: #A9BCF5;
  display: inline-block;
}

.sub_table {
  margin-left: 10px;
}

.hiddenn {
  display: none;
}

select {
  color: black;
}

div.link {
  font-size: 15px;
  padding: 10px;
  margin-left: 2px;
  display: inline-block;
}

div.right {
  float: right;
  margin-right: 30px;
}

input[type='submit'] {
  color: black !important;
}