.sub_table {
  margin-left: 10px;
  background: #e7ebed !important;
}

.hiddenn {
  display: none;
}

a {
  color: #03C6FF !important;
}

body {
  margin-left: 20px;
  margin-right: 20px;
}

div.link {
  font-size: 15px;
  padding: 10px;
  margin-left: 2px;
  /*border: 1px solid black;*/
  /*overflow: none;*/
  /*width: 150px;*/
  display: inline-block;
}

div.right {
  display: inline-block;
  float: right;
  margin-right: 30px;
}