<h1 style="color:#606060!important;font-family:Helvetica,Arial,sans-serif;font-size:40px;font-weight:bold;letter-spacing:-1px;line-height:115%;margin:0;padding:0;text-align:center">Just one more step...</h1>
<h3 style="color:#606060!important;font-family:Helvetica,Arial,sans-serif;font-size:18px;letter-spacing:-.5px;line-height:115%;margin:0;padding:0;text-align:center">Welcome <%= @resource.display_name %>!</h3>
<br>
Click the big button below to change your Freeka account's password.
<br>
If you didn't request this, please ignore this email.
</td>
</tr>
<tr>
  <td align="center" valign="middle" style="padding-right:40px;padding-bottom:40px;padding-left:40px">
    <table border="0" cellpadding="0" cellspacing="0" style="background-color:#6dc6dd;border-collapse:separate!important;border-radius:3px">
      <tbody><tr>
        <td align="center" valign="middle" style="color:#ffffff;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:bold;line-height:100%;padding-top:18px;padding-right:15px;padding-bottom:15px;padding-left:15px">
          <a href="<%= edit_password_url(@resource, reset_password_token: @token) %>" style="color:#ffffff;text-decoration:none" target="_blank">Change my password</a>
        </td>