<html>
<head>
</head>
<body>
  <div style="background-color:#f2f2f2">
    <center>
      <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="background-color:#f2f2f2">
        <tbody><tr>
          <td align="center" valign="top" style="padding:40px 20px">
            <table border="0" cellpadding="0" cellspacing="0" style="width:600px">
              <tbody><tr>
                <td align="center" valign="top">
                  <a href="http://freeka.herokuapp.com" title="Freeka" style="text-decoration:none" target="_blank"><img src="http://www.afnic.fr/medias/images/actus/Logo-fr.png" alt="MailChimp" height="" width="125" style="border:0;color:#6dc6dd!important;font-family:Helvetica,Arial,sans-serif;font-size:60px;font-weight:bold;min-height:auto!important;letter-spacing:-4px;line-height:100%;outline:none;text-align:center;text-decoration:none" class="CToWUd"></a>
                </td>
              </tr>
              <tr>
                <td align="center" valign="top" style="padding-top:30px;padding-bottom:30px">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#ffffff;border-collapse:separate!important;border-radius:4px">
                    <tbody><tr>
                      <td align="center" valign="top" style="color:#606060;font-family:Helvetica,Arial,sans-serif;font-size:15px;line-height:150%;padding-top:40px;padding-right:40px;padding-bottom:30px;padding-left:40px;text-align:center">
                        <h1 style="color:#606060!important;font-family:Helvetica,Arial,sans-serif;font-size:40px;font-weight:bold;letter-spacing:-1px;line-height:115%;margin:0;padding:0;text-align:center">Just one more step...</h1>
                        <h3 style="color:#606060!important;font-family:Helvetica,Arial,sans-serif;font-size:18px;letter-spacing:-.5px;line-height:115%;margin:0;padding:0;text-align:center">Welcome <%= @resource.display_name %>!</h3>
                        <br>
                        Click the big button below to change your Freeka account's password.
                        <br>
                        If you didn't request this, please ignore this email.
                      </td>
                    </tr>
                    <tr>
                      <td align="center" valign="middle" style="padding-right:40px;padding-bottom:40px;padding-left:40px">
                        <table border="0" cellpadding="0" cellspacing="0" style="background-color:#6dc6dd;border-collapse:separate!important;border-radius:3px">
                          <tbody><tr>
                            <td align="center" valign="middle" style="color:#ffffff;font-family:Helvetica,Arial,sans-serif;font-size:15px;font-weight:bold;line-height:100%;padding-top:18px;padding-right:15px;padding-bottom:15px;padding-left:15px">
                              <a href="<%= edit_password_url(@resource, reset_password_token: @token) %>" style="color:#ffffff;text-decoration:none" target="_blank">Change my password</a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      </td>
                    </tr>
                  </tbody></table>
                </td>
              </tr>
              <tr>
                <td align="center" valign="top">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody><tr>
                      <td align="center" valign="top" style="color:#606060;font-family:Helvetica,Arial,sans-serif;font-size:13px;line-height:125%">Vinsol<span style="font-size:10px!important;vertical-align:super"></span>, All Rights Reserved.
                        <br>
                        <a href="#14a7c0e069fdd760_" style="color:#606060!important;text-decoration:none!important"><span style="color:#606060!important">1/4 East Patel Nagar, New Delhi - 110028, India</span></a>
                      </td>
                    </tr>
                    <tr>
                      <td align="center" valign="top" style="padding-top:30px">
                        <a href="http://click.mailchimpapp.com/track/click/10612303/www.mailchimp.com?p=eyJzIjoiT29OT1drems3Wmp0bnlKQ25vQ2NyTWw0d1lrIiwidiI6MSwicCI6IntcInVcIjoxMDYxMjMwMyxcInZcIjoxLFwidXJsXCI6XCJodHRwOlxcXC9cXFwvd3d3Lm1haWxjaGltcC5jb21cXFwvXCIsXCJpZFwiOlwiNjc2OGNkMTZkOTFhNDliYTg5Y2VjZGNiMmI5ZDA1YzJcIixcInVybF9pZHNcIjpbXCIwNzMwZjQ4ODI2NGZiNzk4ZjEyOGQ3YTk2Y2NiMmI2ZDM5MmRmZWM4XCJdfSJ9" title="MailChimp" style="text-decoration:none" target="_blank"></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
</center>
<img src="https://ci5.googleusercontent.com/proxy/uhgCc6N0ITUpQAEJnFTLwslSotnMF9njVIGqIn5xwHAzl_PWk9N5lXDYQzewy-Gf7s1PnlrN58zuM3W80lodcxeVpelc3VIHZqo4BhkLbbl0NLoSmlxRGbf42jtPEsPqLpj-EdVqxhsb5b2MArqX7iY=s0-d-e1-ft#http://click.mailchimpapp.com/track/open.php?u=10612303&amp;id=6768cd16d91a49ba89cecdcb2b9d05c2" height="1" width="1" class="CToWUd"></div>
</body>
</html>