<ul class='active-buttons'>
  <li>
    <%= link_to 'Enabled', '#', class: 'btn btn-primary status-button', role: 'button', data: { hide: 'inactive-object' }  %>
  </li>
  <li>
    <%= link_to 'Disabled', '#', class: 'btn btn-primary status-button', role: 'button', data: { hide: 'active-object' } %>
  </li>
  <li>
    <%= link_to 'All', '#', class: 'btn btn-primary status-button hidden', role: 'button', id: 'all-users', data: { hide: 'none' } %>
  </li>
</ul>