<ul class='active-buttons'>
  <li>
    <%= link_to 'Enabled', admins_users_path(filter: 'active'), class: 'btn btn-primary ' + add_class_active(params[:filter], 'active'), role: 'button' %>
  </li>
  <li>
    <%= link_to 'Disabled', admins_users_path(filter: 'inactive'), class: 'btn btn-primary ' + add_class_active(params[:filter], 'inactive'), role: 'button' %>
  </li>
  <li>
    <%= link_to 'All', admins_users_path(filter: 'all'), class: 'btn btn-primary ' + add_class_active(params[:filter], 'all'), role: 'button' %>
  </li>
</ul>