<ul id="status_filter" class='active-buttons'>
  <% if current_admin %>
    <li><%= link_to 'Pending', admins_requirements_path({ filter: 'pending' }), class: 'btn btn-primary ' + add_class_active(params[:filter], 'pending'), role: 'button' %></li>
    <li><%= link_to 'Fulfilled', admins_requirements_path({ filter: 'fulfilled' }), class: 'btn btn-primary ' + add_class_active(params[:filter], 'fulfilled'), role: 'button' %></li>
  <% else %>
    <li><%= link_to 'Pending', requirements_path({ filter: 'pending' }), class: 'btn btn-primary ' + add_class_active(params[:filter], 'pending'), role: 'button' %></li>
    <li><%= link_to 'Fulfilled', requirements_path({ filter: 'fulfilled' }), class: 'btn btn-primary ' + add_class_active(params[:filter], 'fulfilled'), role: 'button' %></li>
  <% end %>
</ul>