<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div>
      <a href="/" class='brand-name'>
        <img src='/Logo-fr.png' class='logo'>Freeka
      </a>
    </div>
  </div>
  <div class='collapse navbar-collapse col-md-6'>
  </div>
  <div class='col-md-2'>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <%= render 'layouts/search_bar' %>
    <%= render 'shared/users/sign_up_in' %>
  </ul>
</div>
